/*
Fontok:
Sima szöveghez -> font-family: 'Poppins', sans-serif;
Főcímekhez -> font-family: 'Anton', sans-serif;
#E67E22
    
Színkódok:

*/

:root {
    --mainText: 'Anton', sans-serif;
    --simpleText: 'Poppins', sans-serif;
    --mainColor: #ffffff;
    --secColor: #d6d6d6;
    --alertColor: #fc2803;
    --titleBg: #7a7b80;
    --newOrange : #E67E22;
    --warningColor: #FFC107;
}

h1 {
    font-family: var(--mainText);
}

p {
    font-family: var(--simpleText);
}

body {
    width: 100vw;
    height: 100vh;
}

#welcome {
    min-height: 30vh;
}

#aikido .container div div img {
    filter: grayscale(70%);
}

a span{
    font-family: var(--mainText);
    font-size: 1.5rem;
}

#socMedPanel {
    position: fixed;
    top: 20vh;
    width: 2vw;
    max-width: 25px;
    height: 100px;
    background-color: var(--warningColor);
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    transition: width 1s, height 2s;
}

#socTitle {
    transform: rotate(270deg);
    text-align: center;
    display: block;
    position: relative;
    top: 65px;
    font-size: 15px;
    font-family: var(--simpleText);
}

.socMedItem {
    display: none;
}

#socMedPanel:hover {
    width: 60px;
    max-width: 150px;
    height: auto;
    background-color: var(--titleBg);
}

#socMedPanel:hover .socMedItem {
    display: block;
    color: white;
}

#socMedPanel:hover #socTitle {
    display: none;
}