/*
Fontok:
Sima szöveghez -> font-family: 'Poppins', sans-serif;
Főcímekhez -> font-family: 'Anton', sans-serif;
#E67E22
    
Színkódok:

*/

:root {
    --mainText: 'Anton', sans-serif;
    --simpleText: 'Poppins', sans-serif;
    --mainColor: #ffffff;
    --secColor: #d6d6d6;
    --alertColor: #fc2803;
    --titleBg: #7a7b80;
    --newOrange : #E67E22;
}

h1 {
    font-family: var(--mainText);
}

p {
    font-family: var(--simpleText);
}

#aikido p {
    font-size: 1.5rem;
}
h5 {
    font-size: 2rem;
}

#masters p {
    font-size: 1.5rem;
}

#training p {
    font-size: 1.5rem;
}

#contacts p {
    font-size: 1.5rem;
}

body {
    width: 100vw;
    height: 100vh;
}

#welcome {
    min-height: 30vh;
}

.title-row {
    background-image: url("images/TitleBg.png");
}

a span{
    font-family: var(--mainText);
    font-size: 1.5rem;
}